
:root.red {
    --bg-cl: #ecf0f1;
    --scrollbar-thumb-bg-cl: rgba(17, 88, 199, 1);
    --selection-bg-cl: #58a6ff;

    --txb-bg-cl: #fafbfc;
    --txb-focus-border-cl: #e74c3c;
    --txb-border-cl: #d9dadc;
    --txb-placeholder-cl: #d9dadc;

    --first-btn-font-cl: #24292e;
    --first-btn-bg-cl: #e74c3c;
    --first-btn-border-cl: #c0392b;
    --first-btn-hover-font-cl: #24292e;
    --first-btn-hover-bg-cl: #c0392b;
    --first-btn-hover-border-cl: #c0392b;
    --first-btn-active-bg-cl: #edeff2;

    --second-btn-font-cl: #fadbdc;
    --second-btn-bg-cl: #c0392b;
    --second-btn-border-cl: #e74c3c;
    --second-btn-hover-font-cl: #fff;
    --second-btn-hover-bg-cl: #e74c3c;
    --second-btn-hover-border-cl: #c0392b;
    --second-btn-active-bg-cl: #e74c3c;

    --error-message-fill: #d9dadc;

    --first-font-cl: #24292e;
    --second-font-cl: #fff;
    --form-bg-cl: #fff;
    --form-border-cl: #e1e4e8;
}

:root.orange {
    --bg-cl: orange;
    --err-cl: orange;
    --scrollbar-cl: orange;

    --first-btn-hover-border-cl: #f39c12;

    --second-btn-font-cl: orange;
    --second-btn-hover-bg-cl: orange;
    --second-btn-hover-border-cl: #f39c12;
    --second-btn-active-bg-cl: #f39c12;
}